/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
  background-color: #FFFFF6;
  font-family: Cousine;
 }

 .lists {
  margin: 0 auto;
  max-width: 600px;
  background-color: #FFE8C2;
  background-size: 600px;
  text-align: center;
  color: #30343F;
  list-style-type: none;
  padding: 10px;
  border: 2px solid #D7263D;
  margin: 50px;

  a {
    text-align: right
  }
 }

 .title {
  font-size: 18px;
  text-align: center;
 }

#lists_page {
  margin: 0 auto;
  max-width: 500px;
}

p#notice {
  background-color: #30343F;
}

.row {
  max-width: 600px;
  color: #D7263D;

  #checkbox1 {

      label {
        color: #30343F;
      }

      .categories_title {
        text-align: center;
        font-size: 18px;
        color: #D7263D;
      }
  }

  .actions {

    input {
      text-align: center;
      margin: 20 auto;
    }
    font-size: 20px;
  }

  input {
    font-size: 15px;
      }

  label {
    text-align: center;
    color: #D7263D;
    font-size: 15px;
  }
}

#link_to_new_cat {
  text-align: right;
  margin: 20px;
}

h1, h2 {
  text-align: center;
  margin: 25px 0 auto;
  font-family: Cousine;

  a {
    text-align: left;
  }
}

.signed_in {
  background-color: #FFE8C2;
  margin: -20px 0;
}

.small-block-grid-1 {
  margin: 0 50px;

  #categories_list {
    text-align: center;

    a {
      text-align: center;
    }
  }

  li {
    border: 3px solid #D7263D;
    margin: 20px auto;
    background-color: #FFE8C2;
    max-width: 600px;
    border-radius: 30px;

    a {
      color: #D7263D;
    }

    .user_pic {
      float: right;
      max-width: 75px;
      margin: -75px 15px;
    }


  }
}
#category_title {
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 20px;
}

.new_item {
  text-align: center;
}

ul.right input{
  margin: 0 auto;
}